
header{
    padding: 1.5em 0;
}
.logo{
    width: 5rem;
    aspect-ratio: 1;
}
.nav__icon{
    width: 1.675rem;
}
.close{
    display: none;
}
.nav__link{
    color: var(--clr-primary-black);
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    transition: all 0.2s;
}
.nav__item:hover .nav__link{
    color: var(--clr-primary-accent);
    border-bottom: .175rem solid var(--clr-primary-accent);
    padding-bottom: .3em;
}

.open{
    display: block;
}
@media (max-width: 51em){
    .primary__navigation{
        display: none;

        position: absolute;
        top: 6.5rem;
        left: 0;
        right: 0;
        z-index: 100;

        background-color: white;
        padding: 1.5em;
        transition: all  0.2s;
    }

    .nav__list{
        padding: 0;
        text-align: center;
        display: grid;
        gap: 1rem;
    }

    .primary__navigation[data-visible]{
        display: block;
    }

    .nav__toggle{
        display: flex;
        align-items: center;
    }
    .nav__toggle.active .close{
        display: block;
    }

    .nav__toggle.active .open{
        display: none;
    }
}

@media (min-width: 51em){
    .primary__navigation{
        display: block;
    }
    .nav__list{
        display: flex;
    }

    .nav__item{
        padding: .6em  1em;
        cursor: pointer;
    }
    .nav__item:not(:last-child){
        margin-right: 1em;
    }
    .nav__toggle{
        display: none !important;
    }
}
