/*Main Index*/
.hero__section{
    margin-bottom: 2.5em;
    display: flex;
    align-items: center;
    color: var(--clr-primary-white);
    min-height: 36rem;
    position: relative;
}

.hero__section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle 5px at top left,rgba(92,212,241,.2) 0,rgba(144,219,238,.3) 50%,rgba(204,28,28,.1) 0,rgba(204,28,28,.1) 0,transparent 0,transparent 50%),linear-gradient(90deg,rgba(199,117,117,0),rgba(199,117,117,0));
    background-size: 11px 11px;
    background-color: rgba(24, 21, 21, 0.301);
    z-index: 10;
}

.hero__section .container{
    position: relative;
    z-index: 20;
}

.hero__section h1{
    max-width: 16ch;
}
.hero__section-bg-effect{
    width: 100%;
}

.hero__body{
    max-width: 44ch;
}

.news > div:nth-child(1){
    margin-bottom: 2em;
}
.news > div > h2{
    display: inline-block;
    border-bottom: 4px dotted var(--clr-primary-accent);
    padding-bottom: .3em;
    text-transform: uppercase;
}

.card{
    margin-bottom: 2.5em;
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    flex-direction: column;

    box-shadow: 0 0 7px rgba(33,33,33,.2);
    border-radius: .375em;
    overflow: hidden;
}
.card:hover{
    box-shadow: 0 0 20px rgba(33,33,33,.3);
    border: 1px solid hsla(0, 0%, 0%, .235);
}

.card__header > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__content{
    padding: 1.2em;
}
.card__content p{
    color: var(--clr-primary-gray);
}
@media(min-width: 50em){
    .cards {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: min-content;
        column-gap: 1.5rem;
    }

}


blockquote{
    padding: 3em 0;
    color: var(--clr-primary-white);
    max-width: 106ch;
    margin: 0 auto;
}

blockquote p{
    margin-bottom: 1.5em;
    font-style: italic;
    text-justify: inter-word;
}

blockquote cite{
    display: block;
    text-align: right;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-darkgrayishblue);
}
blockquote cite::before{
    content: "\2014\0020";
}

.bg-img{
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

/*Main sobre*/


/*Main contactos*/


/*Main artigo*/
.article{
    margin-bottom: 3em;
}
.article__img{
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 25rem;
    margin-bottom: 2.5em;


    background-image: linear-gradient(
        rgba(0, 0, 0, 0.315), 
        rgba(0, 0, 0, 0.315)
      ),url("https://images.unsplash.com/photo-1612209617892-843e40d053a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.article__proto{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.315), 
        rgba(0, 0, 0, 0.315)
      ),url("https://images.unsplash.com/photo-1585221140117-5bc4baee9cd1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80");
    background-position: top;
}

.head{
    padding: .8em 1.5em;
    background-color: var(--clr-neutral-light);
    margin-bottom: 1em;
}
.head a{
    transition: 0.05s;
}
.head a:hover,
.head a:focus-visible{
    border-bottom: .175rem solid var(--clr-primary-accent);
    padding-bottom: .01rem;
}
.head + ul{
    list-style: none;
    display: grid;
    gap: .4em;
    padding: 0 1.5em;
}
.head + ul > li a:hover,
.head + ul > li a:focus-visible{
    color: var(--clr-primary-accent);
}

.main{
    margin-bottom: 1rem;
}

@media (min-width: 56em){
    .article__content{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    .main{
        width: 69%;
    }
    aside{
        width: 28%;
    }

}

.main__text{
    display: grid;
    gap: 2rem;
    padding: .8em 1.5em;
}